<!-- ----------------VIDEO------------------------- -->
<video class="video_background d-none d-md-inline" id="myVideo" autoplay loop playsinline [muted]="'muted'">
    <source src="assets/video/video_2021-11-02_20-53-16.mp4" type="video/mp4">
</video>

<video class="video_background d-inline d-md-none" id="myVideoPhone" autoplay loop playsinline [muted]="'muted'">
    <source src="assets/video/video_2021-11-02_20-53-16.mp4" type="video/mp4">
</video>


<!-- -------------------INFO 1---------------------- -->
<section>
    <div class="container_video mt-5">
        <div class=" mt-5 mt-md-2 text-center mx-auto text-light">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col col-sm-9 col-md-9 mb-2">
                        <div class="card bg-transparent "
                            style="font-size: 22px; box-shadow: 0px 0px 20px 2px rgb(255,255,255);">
                            <div class="card-body">
                                <h3 class="card-title">About Blockchain Safety Token</h3>
                                <p class="card-text text-start">
With a combined experience of ten years, and several successful projects for some members of the team, 
we are proud to present to you BST v2. <br>
 
BST v2 is a Token which will be deployed on the Ethereum network, first of all 
for security reasons as obviously ecological reasons, due to the transition from "proof of work" to "proof of stake". <br>
                       
This choice is essential in order to guarantee the safety of our users and not only. 
Indeed, BSTv2 will be the reference token for our versatile smart contract translation platform. <br>
                                     
Ethereum is the first blockchain platform for developing smart contracts. 
It supports advanced and customized smart contracts with the help of a Turing-complete virtual machine, 
called the Ethereum virtual machine (EVM). EVM is the runtime environment for smart contracts, and every node in the 
Ethereum network runs an EVM implementation and executes the same instructions. <br>
                                     
Solidity, as a high-level programming language, is used to write smart contracts, and the contract code is 
compiled down to EVM bytecode and deployed on the blockchain for execution. <br>
                                     
Ethereum is currently the most popular development platform for smart contracts and can be used to design various kinds 
of decentralized applications (DApps) in several domains. <br>
                                    
Since first smart contract creation , thousands of them been deployed on different networks
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>


<!-- -------------------INFO 2---------------------- -->
<section>
    <div class="container_video mt-5">
        <div class=" mt-5 mt-md-2 text-center mx-auto text-light">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col col-sm-9 col-md-9 mb-2">
                        <div class="card bg-transparent "
                            style="font-size: 22px; box-shadow: 0px 0px 20px 2px rgb(255,255,255);">
                            <div class="card-body">
                                <h3 class="card-title">How does Blockchain Script Translator works ?</h3>
                                <p class="card-text text-start">
                                    - I am an investor (new or experienced) <br>
 
                                    - An opportunity presents itself to me and I have a doubt about the very basis of this opportunity <br>
                                     
                                    - I copy the address of the Token in question and I paste it in Blockchain Script Translator. <br>
                                     
                                    - BST provides me with several analyzes of this contract according to my needs <br>
                                     
                                    - This allows me to validate a first step in the research on the credibility and the outcome of a serene investment. <br>
                                     
                                    We have chosen the same name and initials for the token and the translation platform in order to 
                                    familiarize future users with our Ecosystem, the map of our route will reveal new projects planned by our team! 
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>



<!-- -----------------OUR TEAM------------------------ -->
<section>
    <!-- for computer -->
    <div class="container_video d-none d-md-inline mt-5">
        <div class=" mt-5 mt-md-2 text-center mx-auto text-white">
            <div class="container">
                <div class="heading mt-5 mb-3">
                    <h2>Why choosing BST ?</h2>
                </div>

                <div class="row row-cols-md-3 text-white">

                    <div class="col mb-2">
                        <div class="card bg-transparent" style="box-shadow: 0px 0px 5px 1px rgb(255,255,255);">
                            <div class="card-body">
                                <h3 class="card-title">Vesting Solutions for Private Investors</h3>
                                <h4 class="card-title">All Tokens Bought in Private Sale are submitted to a Vesting Solution </h4>
                                <p class="card-text">
                                    What is BST Vesting ?  <br>
                                    - Private Investors Tokens are locked for a 24 months time lapse.   <br>
                                    - 1/8 Of Tokens are unlockable every 3 months ( ex: after 12 months 50% or 4/8 of Tokens 
                                    bought in Private sale will automaticaly unlock )  <br>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-2">
                        <div class="card bg-transparent" style="box-shadow: 0px 0px 5px 1px rgb(255,255,255);">
                            <div class="card-body">
                                <h3 class="card-title">USDT Dividend For Holders</h3>
                                <h4 class="card-title">By holding BST You get USDT rewards </h4>
                                <p class="card-text">
                                    Dividends are sent weekly, in USDT  <br>

                                    depending on the number of BST transactions and tokens held. <br>

                                    By providing USDT rewards it encourages users to Hold BST instead of selling. <br>
            
                                    Selling also helps increasing price by 2% auto burn. <br>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-2">
                        <div class="card bg-transparent" style="box-shadow: 0px 0px 5px 1px rgb(255,255,255);">
                            <div class="card-body">
                                <h3 class="card-title">Blockchain Script Translator</h3>
                                <h4 class="card-title">Realeasing Alpha Version End 2021</h4>
                                <p class="card-text">
                                    Blochain Script Translator is a Service provided by BST Ecosystem, 
                                    which is a smart contract "translator" that provides users several readable and 
                                    understandable versions of smart contracts, the first of which is free and two paid options 
                                    with different details. <br>

                                    By providing this service to all users, from all current and future networks, we want 
                                    to strengthen security for a more sustainable use of the blockchain.
                                </p>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>
    
    <!-- for phone -->
    <div class="container_video_phone d-inline d-md-none mt-5">
        <div class=" mt-5 mt-md-2 text-center mx-auto text-white">
            <div class="container">
                <div class="heading mb-3">
                    <h2>Special Skills</h2>
                </div>

                <div class="row row-cols-1 text-white">

                    <div class="col-md-3 mb-4">
                        <div class="card bg-transparent" style="box-shadow: 0px 0px 5px 1px rgb(255,255,255);">
                            <div class="card-body">
                                <h3 class="card-title">Vesting Solutions for Private Investors</h3>
                                <h4 class="card-title">All Tokens Bought in Private Sale are submitted to a Vesting Solution </h4>
                                <p class="card-text">
                                    What is BST Vesting ?  <br>
                                    - Private Investors Tokens are locked for a 24 months time lapse.   <br>
                                    - 1/8 Of Tokens are unlockable every 3 months ( ex: after 12 months 50% or 4/8 of Tokens 
                                    bought in Private sale will automaticaly unlock )  <br>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 mb-4">
                        <div class="card bg-transparent" style="box-shadow: 0px 0px 5px 1px rgb(255,255,255);">
                            <div class="card-body">
                                <h3 class="card-title">USDT Dividend For Holders</h3>
                                <h4 class="card-title">By holding BST You get USDT rewards </h4>
                                <p class="card-text">
                                    Dividends are sent weekly, in USDT  <br>

                                    depending on the number of BST transactions and tokens held. <br>

                                    By providing USDT rewards it encourages users to Hold BST instead of selling. <br>
            
                                    Selling also helps increasing price by 2% auto burn. <br>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 mb-4">
                        <div class="card bg-transparent" style="box-shadow: 0px 0px 5px 1px rgb(255,255,255);">
                            <div class="card-body">
                                <h3 class="card-title">Blockchain Script Translator</h3>
                                <h4 class="card-title">Realeasing Alpha Version End 2021</h4>
                                <p class="card-text">
                                    Blochain Script Translator is a Service provided by BST Ecosystem, 
                                    which is a smart contract "translator" that provides users several readable and 
                                    understandable versions of smart contracts, the first of which is free and two paid options 
                                    with different details. <br>

                                    By providing this service to all users, from all current and future networks, we want 
                                    to strengthen security for a more sustainable use of the blockchain.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

</section>


