

<nav class="navbar navbar-dark navbar-expand-md sticky-top" style="background: rgb(17,24,41);">
    
        <a class="navbar-brand" href="#">
        <img src="assets/img/LogoBSTface100x100.png" style="width: 70px;" />
    </a>
    <button data-bs-toggle="offcanvas" data-bs-target="#offcanvas-1" class="navbar-toggler me-1">
     Menu
    </button>
        <div class="collapse navbar-collapse" id="navcol-2">
            <ul class="navbar-nav text-capitalize" style="font-size: 16px;">
                <li class="nav-item"><a class="nav-link" routerLink="/" routerLinkActive="active">
                    <i class="fa fa-home"></i>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="Tokenomics" routerLinkActive="active" >Tokenomics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="Whitepaper" routerLinkActive="active">Whitepaper</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="Roadmap" routerLinkActive="active">Roadmap</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="Social-Media" routerLinkActive="active">Social Media</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="About-Us" routerLinkActive="active"><i class="fa fa-info-circle"></i>About Us</a>
                </li>
            </ul>
        </div>
    
</nav>