<!-- ----------------VIDEO------------------------- -->
<video class="video_background d-none d-md-inline" id="myVideo" autoplay loop playsinline [muted]="'muted'">
    <source src="assets/video/video_2021-11-02_20-53-16.mp4" type="video/mp4">
</video>

<video class="video_background d-inline d-md-none" id="myVideoPhone" autoplay loop playsinline [muted]="'muted'">
    <source src="assets/video/video_2021-11-02_20-53-16.mp4" type="video/mp4">
</video>


<!-- -------------------ABOUT US---------------------- -->
<section>
    <div class="container_video mt-5">
        <div class=" mt-5 mt-md-2 text-center mx-auto text-light">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col col-sm-9 col-md-9 mb-2">
                        <div class="card bg-transparent "
                            style="font-size: 22px; box-shadow: 0px 0px 20px 2px rgb(255,255,255);">
                            <div class="card-body">
                                <h3 class="card-title">BST TEAM</h3>
                                <p class="card-text">
                                    The BST project was born out of the fierceness of four blockchain enthusiasts .
                                    The arrival of smart contracts on blockchain, initiated by the Ethereum network and
                                    then followed by others, has created in recent years a niche for nefarious and
                                    malicious people more commonly known as "SCAM" So we decided to take the bull by the
                                    horns and launch into the fight against them!
                                    Our developpement team purposes are to make blockchain Safer for users by providing
                                    multiple services :
                                    - An ERC-20 TOKEN which is the main currency of our ecosystem . ( details in
                                    tokenomics faq).
                                    - A Contract Translator that provides user clear informations about the scanned
                                    contract ( see more details in Script Tranlator faq ).
                                    LET'S MAKE BLOCKCHAIN SAFER TOGETHER

                                    I decided to start my own project which is BST coin V1 on the Binance Smart Chain.
                                    This project is currently in the hands of the community as a "meme coin" and we have
                                    launched with the development team the second version of BST Coin on ERC-20 network
                                    and which will focus on strengthening the security through different means detailed
                                    in the "Whitepaper" of the project.

                                    The development of the BST Token and its Ecosystem will be my main occupations for
                                    the coming years, in order to bring to the Blockchain, a security and a wider use
                                    through various awareness programs."
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>




<!-- -----------------OUR TEAM------------------------ -->
<section>

    <div class="container_video d-none d-md-inline mt-5">
        <div class=" mt-5 mt-md-2 text-center mx-auto text-white">
            <div class="container">
                <div class="heading">
                    <h2>LET'S MAKE BLOCKCHAIN SAFER TOGETHER</h2>
                </div>

                <div class="row row-cols-md-2 row-cols-xl-4 text-white">

                    <div class="col mb-2">
                        <div class="card bg-transparent" style="box-shadow: 0px 0px 5px 1px rgb(255,255,255);">
                            <div class="card-body">
                                <h3 class="card-title">CEO</h3>
                                <h3 class="card-title">Cristian Todasca</h3>
                                <p class="card-text">
                                    "Passionate about technology and self-taught since childhood, I started very early
                                    to dismantle all the mechanical or electronic objects that surrounded me in order to
                                    find their mode of operation.

                                    After having studied for 4 years the embedded electronics, the operation and the
                                    logic of the machines, worked in the field of data processing and data recovery, I
                                    discovered and decided to concentrate on the Blockchain which I study with passion ,
                                    for 3 years now.

                                    I decided to start my own project which is BST coin V1 on the Binance Smart Chain.
                                    This project is currently in the hands of the community as a "meme coin" and we have
                                    launched with the development team the second version of BST Coin on ERC-20 network
                                    and which will focus on strengthening the security through different means detailed
                                    in the "Whitepaper" of the project.

                                    The development of the BST Token and its Ecosystem will be my main occupations for
                                    the coming years, in order to bring to the Blockchain, a security and a wider use
                                    through various awareness programs."
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-2">
                        <div class="card bg-transparent" style="box-shadow: 0px 0px 5px 1px rgb(255,255,255);">
                            <div class="card-body">
                                <h3 class="card-title">CFO</h3>
                                <h3 class="card-title">Robert Buliga</h3>
                                <p class="card-text">
                                    " Confident in my ability to face every challenge from an early age, I came to have
                                    a special pleasure from business. Based on the experience of a business from the
                                    bottom, I was able to create some well-defined principles. I like to always be
                                    persevering and have the best results. In 2017 I had my first contact with crypto
                                    and I saw this as an opportunity to grow. I am determined to do my job well in this
                                    project, as well as to help the project work in the most competitive way possible."
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-2">
                        <div class="card bg-transparent" style="box-shadow: 0px 0px 5px 1px rgb(255,255,255);">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-gear-outline"></i>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">CTO</h3>
                                <h3 class="card-title">Alexandru Tancau</h3>
                                <p class="card-text">
                                    "With a Bachelor Degree in International Affairs, and a luxury retail and
                                    hospitality background I have a huge passion for the blockchain technology as it
                                    represents the future of almost everything digital. For almost 4 years I have
                                    dedicated myself learning and understanding the principals of blockchain and the
                                    technology that stands at its base. It's developing fast, it's growing even faster
                                    as the market is getting bigger and bigger. Been learning and practising Solidity
                                    programming language for the last couple of years, achieveing an amazing 100% audit
                                    score by Certik for one of the Smart Contracts written and deployed. I am looking
                                    forward for the newest protocols implementations of the EVM and I see that the
                                    future relies on the pioneers of Smart Contracts. As in latest, I am eager to learn
                                    more about Dfinity's Internet Computer technology and learning more about the Motoko
                                    programming language. I am dedicated to develop BST Project as one of my early
                                    stages of reaching important career milestones within Blockchain Developing. I will
                                    not stop working until I see this BST listed, fully developed and an autonomous
                                    project on the market."
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col mb-2">
                        <div class="card bg-transparent" style="box-shadow: 0px 0px 5px 1px rgb(255,255,255);">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-gear-outline"></i>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">CMO</h3>
                                <h3 class="card-title">Silviu Prunean</h3>
                                <p class="card-text">
                                    "I am a hardworking and ambitious individual with a great passion for the Crypto and
                                    trading industry. I have excellent communication skills, enabling me to effectively
                                    communicate with a wide range of people. I am seeing a grate oportunity in the
                                    industry in which I can put into practice my knowledge and experience, ultimately
                                    benefiting the operations of the organisation that I work for. I am an energetic,
                                    ambitious person who has developed a mature and responsible approach to any task
                                    that I undertake, or situation that I am presented with."
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <div class="container_video_phone d-inline d-md-none mt-5">
        <div class=" mt-5 mt-md-2 text-center mx-auto text-white">
            <div class="container">
                <div class="heading">
                    <h2>Special Skills</h2>
                </div>

                <div class="row row-cols-1 text-white">

                    <div class="col-md-3 mb-2">
                        <div class="card bg-transparent shadow border-0">
                            <div class="card-body">
                                <h3 class="card-title">CEO</h3>
                                <h3 class="card-title">Cristian Todasca</h3>
                                <p class="card-text">
                                    "Passionate about technology and self-taught since childhood, I started very early
                                    to dismantle all the mechanical or electronic objects that surrounded me in order to
                                    find their mode of operation.

                                    After having studied for 4 years the embedded electronics, the operation and the
                                    logic of the machines, worked in the field of data processing and data recovery, I
                                    discovered and decided to concentrate on the Blockchain which I study with passion ,
                                    for 3 years now.

                                    I decided to start my own project which is BST coin V1 on the Binance Smart Chain.
                                    This project is currently in the hands of the community as a "meme coin" and we have
                                    launched with the development team the second version of BST Coin on ERC-20 network
                                    and which will focus on strengthening the security through different means detailed
                                    in the "Whitepaper" of the project.

                                    The development of the BST Token and its Ecosystem will be my main occupations for
                                    the coming years, in order to bring to the Blockchain, a security and a wider use
                                    through various awareness programs."
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 mb-2">
                        <div class="card bg-transparent shadow border-0">
                            <div class="card-body">
                                <h3 class="card-title">CFO</h3>
                                <h3 class="card-title">Robert Buliga</h3>
                                <p class="card-text">
                                    " Confident in my ability to face every challenge from an early age, I came to have
                                    a special pleasure from business. Based on the experience of a business from the
                                    bottom, I was able to create some well-defined principles. I like to always be
                                    persevering and have the best results. In 2017 I had my first contact with crypto
                                    and I saw this as an opportunity to grow. I am determined to do my job well in this
                                    project, as well as to help the project work in the most competitive way possible."
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 mb-2">
                        <div class="card bg-transparent shadow border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-gear-outline"></i>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">CTO</h3>
                                <h3 class="card-title">Alexandru Tancau</h3>
                                <p class="card-text">
                                    "With a Bachelor Degree in International Affairs, and a luxury retail and
                                    hospitality background I have a huge passion for the blockchain technology as it
                                    represents the future of almost everything digital. For almost 4 years I have
                                    dedicated myself learning and understanding the principals of blockchain and the
                                    technology that stands at its base. It's developing fast, it's growing even faster
                                    as the market is getting bigger and bigger. Been learning and practising Solidity
                                    programming language for the last couple of years, achieveing an amazing 100% audit
                                    score by Certik for one of the Smart Contracts written and deployed. I am looking
                                    forward for the newest protocols implementations of the EVM and I see that the
                                    future relies on the pioneers of Smart Contracts. As in latest, I am eager to learn
                                    more about Dfinity's Internet Computer technology and learning more about the Motoko
                                    programming language. I am dedicated to develop BST Project as one of my early
                                    stages of reaching important career milestones within Blockchain Developing. I will
                                    not stop working until I see this BST listed, fully developed and an autonomous
                                    project on the market."
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 mb-2">
                        <div class="card bg-transparent shadow border-0">
                            <div class="card-header bg-transparent border-0"><i class="icon ion-ios-gear-outline"></i>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">CMO</h3>
                                <h3 class="card-title">Silviu Prunean</h3>
                                <p class="card-text">
                                    "I am a hardworking and ambitious individual with a great passion for the Crypto and
                                    trading industry. I have excellent communication skills, enabling me to effectively
                                    communicate with a wide range of people. I am seeing a grate oportunity in the
                                    industry in which I can put into practice my knowledge and experience, ultimately
                                    benefiting the operations of the organisation that I work for. I am an energetic,
                                    ambitious person who has developed a mature and responsible approach to any task
                                    that I undertake, or situation that I am presented with."
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

</section>


<!-- -------------------Contact US form---------------------- -->
<section class="mt-5">
    <div class="container_video mt-5">
        <div class=" mt-5 mt-md-2 text-center mx-auto text-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col col-sm-9 col-md-9 mb-2">
                        <div class="card bg-transparent "
                            style="font-size: 22px; box-shadow: 0px 0px 20px 2px rgb(255,255,255);">
                            <div class="card-body">
                                <h3 class="card-title">Contact Us</h3>
                                <p>For any questions please use this form. <br> 
                                    Please kindly note that nonsense messages won't receive any answer from team . <br>
                                    Thank you ! BST team </p>
                                <!--  -->
                                <form action="/action_page.php">
                                    <div class="mb-3 mt-3">
                                        <input type="text" class="form-control" placeholder="Name" name="name">
                                    </div>
                                    <div class="mb-3 mt-3">
                                        <input type="email" class="form-control" placeholder="Email" name="email">
                                    </div>
                                    <textarea class="form-control" rows="5" id="comment" name="text"
                                        placeholder="Message..."></textarea>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                                <!--  -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>