




#myVideo {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw; 
    height: 100vw;
    overflow: hidden;
    z-index: 0;
    opacity: 0.5;
}

#myVideoPhone {
    left: 0;
    bottom: 0;
    width: 100%; 
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.container_video{
   position: relative;
  
}

.container_video_phone{
    position: relative;
   
}









