<video class="video_background" id="myVideo" autoplay loop playsinline [muted]="'muted'">
    <source src="assets/video/video_2021-11-02_20-53-16.mp4" type="video/mp4">
</video>

<!-- -------------------INFO 1---------------------- -->
<section>
    <div class="container_video mt-5">
        <div class=" mt-5 mt-md-2 text-center mx-auto text-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col col-sm-9 col-md-9 mb-2">
                        <div class="card bg-transparent "
                            style="font-size: 22px; box-shadow: 0px 0px 20px 2px rgb(255,255,255);">
                            <div class="card-body">
                                <h3 class="card-title">Follow and Share with us !</h3>
                                
                                
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" style="color:white;" href="#">Telegram</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" style="color:white;" href="#">Twitter</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" style="color:white;" href="#">Instagram</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" style="color:white;" href="#">Facebook</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link disabled" href="#">Reddit</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link disabled" href="#">Discord</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link disabled" href="#">Snapchat</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link disabled" href="#">Youtube</a>
                                        </li>
                                    </ul>

                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>