




<div tabindex="-1" data-bs-scroll="true" class="offcanvas offcanvas-start" id="offcanvas-1" style="background: rgb(31,42,68);">
    <div class="offcanvas-header text-light"><img src="assets/img/LogoBSTface100x100.png" style="width: 70px;" /><button type="button" class="btn-close text-reset visually-hidden" data-bs-dismiss="offcanvas" aria-label="Close"></button></div>
    <div class="offcanvas-body">
        <nav class="navbar navbar-dark navbar-expand-md">
            <div class="container">
                <ul class="navbar-nav text-capitalize d-inline" style="font-size: 16px;">
                    <li class="nav-item"><a class="nav-link" routerLink="/" routerLinkActive="active" data-bs-dismiss="offcanvas">
                        <i class="fa fa-home"></i>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="Tokenomics" routerLinkActive="active" data-bs-dismiss="offcanvas" >
                            Tokenomics
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="Whitepaper" routerLinkActive="active" data-bs-dismiss="offcanvas">
                            Whitepaper
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="Roadmap" routerLinkActive="active" data-bs-dismiss="offcanvas">
                            Roadmap
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="Social-Media" routerLinkActive="active" data-bs-dismiss="offcanvas">
                            Social Media
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="About-Us" routerLinkActive="active" data-bs-dismiss="offcanvas">
                            <i class="fa fa-info-circle"></i>About Us
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <button class="btn btn-outline-primary float-start" type="button" data-bs-dismiss="offcanvas">
            Close
        </button>
    </div>
</div>