




<!-- ----------------VIDEO------------------------- -->
<video class="video_background d-none d-md-inline" id="myVideo" autoplay loop playsinline [muted]="'muted'">
    <source src="assets/video/video_2021-11-02_20-53-16.mp4" type="video/mp4">
</video>

<video class="video_background d-inline d-md-none" id="myVideoPhone" autoplay loop playsinline [muted]="'muted'">
    <source src="assets/video/video_2021-11-02_20-53-16.mp4" type="video/mp4">
</video>


<!-- -------------------ABOUT US---------------------- -->
<section>
    <div class="container_video mt-5">
        <div class=" mt-5 mt-md-2 text-center mx-auto text-light">
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col col-sm-9 col-md-9 mb-2">
                        <div class="card bg-transparent "
                            style="font-size: 22px; box-shadow: 0px 0px 20px 2px rgb(255,255,255);">
                            <div class="card-body">
                                    <h2 class="text-center">Phase 1</h2>
                                    <b class="text-center">- Contract Audit ✅ </b><br>
                                    <b class="text-center">- Website Launch ✅ </b><br>
                                    <b class="text-center">- Token Deploy </b><br>
                                    <b class="text-center">- Marketing Push </b><br>
                                    <b class="text-center">- Social Media Advertising </b><br>
                                    <b class="text-center">- Doxxed Team ✅  </b><br>
                                    <h2 class="text-center">Phase 2</h2>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>
